<% provide(:title, 'Sign up') %>
<div class="bgbelt">
  <h1>RING READY AND BELT HUNGRY?</h1>
  <h2>{sign up here}</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

        <%= f.submit "I'M READY TO RUMBLE, BROTHER!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
