<div class="row">
  <aside class="col-md-4" style="text-align:center">
    <section class="user_info">
      <% if @wrestler == nil %>
        <%= image_tag("default_avatar.png", alt: "No Wrestler selected", size: "200") %>
        <br />
        <div style="text-align:center">
          NO WRESTLER SELECTED
          <br />
          <%if @user == current_user%>
            <%= link_to "SELECT YOUR WRESTLER", wrestlers_path%>
          <%end%>
        </div>
      <% else %>
      <%= image_tag(@wrestler.image, alt: @wrestler.name, size: "200") %>
      <br />
      <div style="text-align:center">
        <%=@wrestler.name%>
        <br />
        <%if @user == current_user%>
          <%= link_to "CHANGE YOUR WRESTLER", wrestlers_path%>
        <%end%>
      </div>
      <% end %>
  </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @user.name %></h3>
    <% if @user.microposts.any? %>
      <h3>Messages (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
